//
//   Gravity Board
//

#gravity-board {
	border-top:1px solid $color-border-color;
	top:50px;
	right:0;
	bottom:0;
	left:0;
	overflow:auto;
	position:absolute;
	.lane {
		width:100%;
		overflow:visible;
		white-space:nowrap;
		.header {
			background-color:lighten($color-button-border, 30%);
			border-bottom:1px solid $color-border-color;
			overflow:hidden;
			padding:5px 5px 5px 15px;
			text-transform:uppercase;
			h3 {
				margin:0;
				padding:0;
			}
		}
		.task-columns {
			margin:0;
			padding:0 10px;
			.drag_list {
				padding:0;
				min-width:100px;
				min-height:75px;
			}
			li {
				border-left:1px solid $color-border-color;
				display:table-cell;
				padding:10px 0;
				width:350px;
				&:first-child { border-left:0; }
				.task-header {
					padding:5px;
					text-transform:uppercase;
					button {
						background-color:$color-primary;
						border:0;
						color:$color-text;
						float:left;
						display:block;
						line-height:20px;
						padding:3px 8px;
						margin-right:10px;
					}
					h4 {
						display:inline-block;
						margin:0;
						padding:2px 0 0 0;
					}
				}
				.ticket {
					background-color:$color-bg-panel;
					float:left;
					line-height:15px;
					margin:5px;
					padding:5px;
					white-space:normal;
					width:100px;
					height:75px;
					&:hover .trash {
						display:block;
					}
					.trash {
						background-color:#f6b1ae;
						border-radius:100px;
						cursor:pointer;
						display:none;
						margin-top:30px;
						margin-left:69px;
						padding:3px 8px;
						position:absolute;
						text-align:center;
					}
				}
			}
		}
	}
}

.modal-dialog {
		left:0 !important;
	}
