// customize bootstrap variables here:
@import "variables";
@import "gravity_board";
@import "bootstrap";

.home-row {
	margin-top:40px;
}

.navbar-header {
	a {
		background:url('/static/images/pinch-logo.png') no-repeat 15px 16px;
		background-size:25px 20px;
		padding-left:50px;
		@include respond-to(retina-display) {
			background:url('/static/images/pinch-logo@2x.png') 15px 16px;
			background-repeat:no-repeat;
			background-size:25px 20px;
		}
	}
	a.navbar-brand { color:#fff; }
}




/* Top Breadcrumbs */

.steps {
	margin-bottom:25px;
	.step {
		text-align:center;
		&:before {
			color:lighten($color-text, 60%);
			content:'>';
			display:block;
			margin-left:78px;
			position:absolute;
		}
	}
	.step:nth-child(9) {
		&:before { display: none; }
	}
	.step:hover .hover { display:block; }
	.hover {
		background:$color-bg-panel;
		border-radius:4px;
		display:none;
		margin-left:-65px;
		padding:10px;
		position:absolute;
		width:200px;
		z-index:5000;
		-webkit-box-shadow: 0 8px 6px -6px $color-primary;
	   	-moz-box-shadow: 0 8px 6px -6px $color-primary;
	     box-shadow: 0 8px 6px -6px $color-primary;
		&:before {
			display:block;
			content:'';
			margin-top:-20px;
			margin-left:80px;
			position:absolute;
			width: 0; 
			height: 0; 
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid $color-bg-panel;
		}
	}
	.pill {
		background-color:$color-border-color;
		border-radius:100px;
		padding:2px;
	}
}

@media only screen and (max-width:1200px) {
	.steps { .step { &:before { margin-left:73px; } } }
}

@media only screen and (max-width:992px) {
	.col-md-1.step { float:left; width:23%; }
	.steps { .step { &:before { margin-left:110px; } } }
}

@media only screen and (max-width:490px) {
	.steps { .step { &:before { margin-left:76px; } } }
}

body.create {
	.step:hover .hover { display:none; }
	.steps {
		.create {
			font-weight:bold;
			.pill { background-color:$color-primary; }
		}
	}
}

body.big-idea {
	.step {
		&.big-idea:hover, &.validate:hover, &.create-mvp:hover, &.minify-mvp:hover, &.tech-and-tools:hover {
			.hover { display:none; }
		}
	}
	.steps {
		.big-idea {
			font-weight:bold;
			.pill { background-color:$color-primary; }
			}
		}
		.create { .pill { background-color:$color-primary; } }
	}

body.validate {
	.step {
		&.validate:hover, &.create-mvp:hover, &.minify-mvp:hover, &.tech-and-tools:hover {
			.hover { display:none; }
		}
	}
	.steps {
		.validate {
			font-weight:bold;
			.pill { background-color:$color-primary; }
		}
		.create, .big-idea { .pill { background-color:$color-primary; } }
	}
}

body.create-mvp {
	.step {
		&.create-mvp:hover, &.minify-mvp:hover, &.tech-and-tools:hover {
			.hover { display:none; }
		}
	}
	.steps {
		.create-mvp {
			font-weight:bold;
			.pill { background-color:$color-primary; }
		}
		.create, .big-idea, .validate { .pill { background-color:$color-primary; } }
	}
}

body.minify-mvp {
	.step {
		&.minify-mvp:hover, &.tech-and-tools:hover {
			.hover { display:none; }
		}
	}
	.steps {
		.minify-mvp {
			font-weight:bold;
			.pill { background-color:$color-primary; }
		}
		.create, .big-idea, .validate, .create-mvp { .pill { background-color:$color-primary; } }
	}
}

body.breakdown-mvp {
	.step {
		&.tech-and-tools:hover {
			.hover { display:none; }
		}
	}
  .steps {
	.breakdown-mvp {
	  font-weight:bold;
	  .pill { background-color:$color-primary; }
	}
	.create, .big-idea, .validate, .create-mvp, .minify-mvp { .pill { background-color:$color-primary; } }
  }
}

body.tech-and-tools {
	.step {
		&.tech-and-tools:hover {
			.hover { display:none; }
		}
	}
	.steps {
		.tech-and-tools {
			font-weight:bold;
			.pill { background-color:$color-primary; }
		}
		.create, .big-idea, .validate, .create-mvp, .minify-mvp, .breakdown-mvp { .pill { background-color:$color-primary; } }
	}
}

body.gravity-board {
	.steps {
		.gravity-board {
			font-weight:bold;
			.pill { background-color:$color-primary; }
		}
		.create, .big-idea, .validate, .create-mvp, .minify-mvp, .breakdown-mvp, .select-tools { .pill { background-color:$color-primary; } }
	}
}

.hack-tn-logo {
	margin:60px 0;
}




html {
  position: relative;
  min-height: 100%;
}

body {
	background:$color-bg;
	color:$color-text;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:300;
	/* Set the fixed height of the footer here */
	margin-bottom: 110px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top:15px;
  /* Set the fixed height of the footer here */
  min-height: 85px;
  padding:10px;
  background-color: #FFF;
  border-top:1px solid #EEE;
  border-bottom:1px solid #EEE;
  img {margin:5px 15px 5px 5px;}
}

body.home { .steps { display:none; } }
body.gravity-board { #footer { display:none !important; } }

.clear {clear:both; height:0px; line-height:0px; font-size:0px;}
.strikethrough {
	text-decoration: line-through;
	padding: 2px 4px;
	font-size: 90%;
	color: #c7254e;
	white-space: nowrap;
	border-radius: 4px;
}
.highlight {
    background-color: yellow;
}
.center {text-align:center;}

.create-button {
	background-color: #AAA;
	border-top: none;
	border-right: none;
	border-bottom: 2px solid #8d9497;
	border-left: 2px solid #8d9497;
	color: #fff;
	font-size: 21px;
	font-weight: 300;
	margin-top: 20px;
	padding:5px 15px;
}
.create-button:hover {
	background-color: #f8bf51;
	color:#FFF;
	text-decoration:none;
}





// Headlines

h1 {
	font-weight:300;
	span { font-size:.4em; }
}

h2 { font-size:1.5em; font-style:italic; font-weight:300; margin-top:5px; margin-bottom:30px;
	span { font-weight:normal; }
}

.minify-mvp, .breakdown-mvp {
	h3 { background-color:$color-bg-panel; display:inline-block; font-weight:bold; }
}




// Form elements

form {
	label {
		font-weight:300;
		margin-top:20px;
	}
	input[type="text"], input[type="email"], textarea.form-control {
		border:1px solid $color-border-color;
		border-radius:0;
		box-shadow:none;
		font-size:21px;
	}
	input[type="text"].form-control, input[type="email"].form-control {
		height:50px;
	}
	.add-member-button {
		margin-top:10px;
	}
	textarea.form-control {
		padding:10px 15px;
		height:10em;
	}
	.codeholder {background:$color-bg; border:none; padding:0; margin-bottom:15px;}
	.CodeMirror-code {
		pre {
			font-size:30px;
		}
	}
}

button[type="submit"] {
	background-color:$color-primary;
	border-top:none;
	border-right:none;
	border-bottom:2px solid $color-button-border;
	border-left:2px solid $color-button-border;
	color:#fff;
	float:right;
	font-size:21px;
	font-weight:300;
	margin-bottom:40px;
	&.btn {
		border-radius:0;
	}
	&.ready {
		float:none;
		font-size:18px;
		margin-top:20px;
		margin-bottom:0;
	}
}





// Step icons

.step-icon {
	div {
		&.big-idea {
			background:url('/static/images/icon-big-idea.png') no-repeat 0 0;
			width:64px;
			height:97px;
			@include respond-to(retina-display) {
				background:url('/static/images/icon-big-idea@2x.png');
				background-size:64px 97px;
			}
		}
		&.create-project {
			background:url('/static/images/create-project.png') no-repeat 0 0;
			width:64px;
			height:65px;
			@include respond-to(retina-display) {
				background:url('/static/images/create-project@2x.png');
				background-size:64px 65px;
			}
		}
		&.validate {
			background:url('/static/images/validate.png') no-repeat 0 0;
			width:64px;
			height:40px;
			@include respond-to(retina-display) {
				background:url('/static/images/validate@2x.png');
				background-size:64px 40px;
			}
		}
		&.create-mvp {
			background:url('/static/images/icon-create-mvp.png') no-repeat 0 0;
			width:64px;
			height:46px;
			@include respond-to(retina-display) {
				background:url('/static/images/icon-create-mvp@2x.png');
				background-size:64px 46px;
			}
		}
		&.minify-mvp {
			background:url('/static/images/icon-minify-mvp.png') no-repeat 0 0;
			width:64px;
			height:42px;
			@include respond-to(retina-display) {
				background:url('/static/images/icon-minify-mvp@2x.png');
				background-size:64px 42px;
			}
		}
		&.breakdown-mvp {
			background:url('/static/images/icon-breakdown-mvp.png') no-repeat 0 0;
			width:64px;
			height:47px;
			@include respond-to(retina-display) {
				background:url('/static/images/icon-breakdown-mvp@2x.png');
				background-size:64px 47px;
			}
		}
		&.tech-and-tools {
			background:url('/static/images/tools-tech.png') no-repeat 0 0;
			width:64px;
			height:65px;
			@include respond-to(retina-display) {
				background:url('/static/images/tools-tech@2x.png');
				background-size:64px 65px;
			}
		}
	}
}





// Info panel

.info-panel {
	background-color:$color-bg-panel;
	font-size:16px;
	padding:15px;
	h3 {padding-top:0px; margin-top:0px;}
	p {margin-bottom:5px;}
	p.example {font-size:12px; font-style:italic; font-weight:bold; line-height:14px; margin-bottom:15px;}
	.strike {text-decoration:line-through; padding:2px;}
}





// Venn diagram

.venn {
	background:url('/static/images/venn-diagram.png') no-repeat center 0;
	background-size:contain;
	min-height:800px;
	textarea {
		background:transparent;
		border:none;
		font-size:21px;
		font-weight:normal;
		height:300px;
		margin-top:115px;
		overflow:hidden;
		resize:none;
		text-align:center;
		vertical-align:bottom;
		width:100%;
		&:focus {
			outline:none;
		}
		&#offering { padding-left:30px; }
		&#valueProp { padding-right:30px; padding-left:30px; }
		&#customer { padding-right:30px; }
		
	}
	@media only screen and (max-width:1200px) {
		textarea {
			margin-top:90px;
			height:245px;
		}
	}
	@media only screen and (max-width:990px) {
		textarea {
			height:300px;
			margin-top:115px;
		}
		.form-group.col-md-4 {
			float:left;
			width:33%;
		}
	}
	@media only screen and (max-width:650px) {
		textarea {
			font-size:18px;
			margin-top:90px;
			height:245px;
		}
	}
	@media only screen and (max-width:530px) {
		textarea {
			font-size:15px;
			margin-top:75px;
			height:180px;
		}
	}
	@media only screen and (max-width:500px) {
		textarea {
			font-size:15px;
			margin-top:55px;
			height:160px;
		}
	}
	.validate-action {
		margin-top:100px;
	}
}
