{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="icon" type="image/png" href="/static/images/favicon.png" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,200italic,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/codemirror.css' %}" rel="stylesheet">

    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/pinch.css' %}" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template,
        then move to pinch.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">pinch</a>
        </div>
        <div class="collapse navbar-collapse">
          <!-- <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul> -->
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      {% block content %}
      {% endblock content %}
	  
    </div> <!-- /container -->

	<div id="footer">
	   <div class="container clearfix">
		  <img src="/static/images/bahn5.png" align="left" height="60px"/>
	      <p class="text-muted">
			  <b>Built by Hackers, for Hackers.</b><br />
			   Team: <em>Brendan Wovchko, Cale Mooth, 
				  Jared Bunting, Jesse Gray, Kyle Williams, Mahesh Thundathil, 
				  Matt Conrad, Matthew O'Briant, Taylor Schena
			  </em><br />
			  Based on the Methodology "Pinch" at <a href="http://www.startpinching.com" target="_blank">startpinching.com</a>
		  </p>
		  <div class="clear"></div>
	   </div>
	</div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-sortable.js' %}"></script>
    <script src="{% static 'js/codemirror.js' %}"></script>
    <script src="{% static 'js/underscore.js' %}"></script>

    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/pinch.js' %}"></script>

    {% block extra_js %}{% endblock extra_js %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50612155-1', 'pinch.tn');
      ga('send', 'pageview');
    </script>
  </body>
</html>
