{% extends "base.html" %}

  {% block content %}
      <div class="row">

        <div class="col-md-1">Icon</div>

          <div class="col-md-8">
              <small>{{ project.name }}</small>
              <h1>{% block page_title %}Breakdown MVP{% endblock page_title %} <span>5-15 Minutes</span></h1>

              <form id="main_form" role="form" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="workstreams" id="selections" value="{{ selectionJson }}">
                  <div>
                      <textarea id="highlight_statement">{{ project.mvp.statement }}</textarea>
                  </div>

                  <button id="clear" type="button" class="btn btn-default">Clear</button>
                  <button id="highlight_next" type="submit" class="btn btn-default">Next</button>
              </form>
          </div>

          <div class="col-md-3">Info bar</div>

      </div>

      <style>
          .highlight {
              background-color: yellow;
          }
      </style>
  {% endblock content %}
