{% extends "base.html" %}
{% block step %}breakdown-mvp{% endblock step %}
  {% block content %}
      <div class="row">
      	<div class="col-md-1 step-icon">
			   <div class="breakdown-mvp"></div>
		    </div>
        <div class="col-md-8">
          <h1>{% block page_title %}Breakdown MVP{% endblock page_title %} <span>5-15 Minutes</span></h1>
  			  <h2><span>"What’s the least we can build?"</span> Now that you have refined your MVP statement, we can identify the major components of what we need to build.  Using the same drag over with your cursor, highlight the logical workstreams in your statement.</h2>
  			  <span class="label label-warning">Click and Drag to identify workstreams!</span>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="row">
		  	  
        <div class="col-md-1"></div>

          <div class="col-md-8">
              <form id="main_form" role="form" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="workstreams" id="selections" value="{{ selectionJson }}">
                  <div class="codeholder">
                      <textarea id="highlight_statement">{{ project.mvp.statement }}</textarea>
                  </div>

                  <button id="clear" type="button" class="btn btn-default">Clear</button>
                  <button id="highlight_next" type="submit" class="btn btn-default">Next</button>
              </form>
          </div>

          <div class="col-md-3">
            <div class="info-panel">
  				<h3>5-15 Minutes</h3>
  				<p><b>Click and drag your cursor</b> over the actionable items in your MVP statement to make workstreams out of them.</p>
  				<p class="example">"Our clients need to <span class="highlight">see products</span>, put products in a <span class="highlight">cart</span>, <span class="highlight">register</span>, <span class="highlight">pay</span>, and be able to <span class="highlight">download</span> products.</p>
            </div>
          </div>

      </div>	  

  {% endblock content %}
