{% extends "base.html" %}
{% block step %}create{% endblock step %}
  {% block content %}

      <div class="row">

        <div class="col-md-1 step-icon">
          <div class="create-project"></div>
        </div>

        <div class="col-md-8">
          <h1>{% block page_title %}Create your project{% endblock page_title %}</h1>
          <h2>Give your project a name.</h2>
        </div>

          <div class="col-md-3"></div>

      </div>


      <div class="row">

        <div class="col-md-1"></div>

        <div class="col-md-8">
          <form role="form" method="post">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control" name="projectName" id="projectName" placeholder="Your great project name">
              <input type="text" class="form-control" name="event" id="event" placeholder="Is your project part of an event?" value="{{ event_default }}">
              <input type="text" class="form-control" name="ownerName" id="ownerName" placeholder="Your name">
              <input type="email" class="form-control" name="ownerEmail" id="ownerEmail" placeholder="Your email address">

              <div class="project-members">
              </div>
              <button class="btn btn-default square add-member-button">Add Project Member</button>
            </div>
            <div class="clearfix">
              <button type="submit" class="btn btn-default square">get started</button>
            </div>
          </form>

        </div>

        <div class="col-md-3">
          <div class="info-panel">
            <h3>It starts with a name.</h3>
            <p>After you create your project name, save the URL somewhere for future reference.</p>
          </div>
        </div>

      </div>

  {% endblock content %}
{% block extra_js %}

  <script>
    $(document).ready(function() {
      var wrapper = $(".project-members");
      var add_button = $(".add-member-button");

      var m = 0;
      $(add_button).click(function(e) {
        e.preventDefault();
        $(wrapper).append("<input type='text' class='form-control' name='memberName' id='memberName" + m + "' placeholder='Member " + m + " name'>");
        $(wrapper).append("<input type='email' class='form-control' name='memberEmail' id='memberEmail" + m + "' placeholder='Member " + m + " email address'>");
        m++;
      });
    })
  </script>

{% endblock extra_js %}

