{% extends "base.html" %}
{% load staticfiles %}
{% block step %}gravity-board{% endblock step %}
  {% block content %}


      <div id="gravity-board">
      	<!-- READY -->
      	<div class="lane ready">
      		<div class="header">
      			<h3>Ready</h3>
      		</div>
  			<ul class="task-columns" data-bind="foreach: workstreams">
  				<li>
  					<div class="task-header">
  						<button class="btn btn-primary btn-lg add" data-toggle="modal" data-target="#myModal">
  +
</button><h4 data-bind="text: name"></h4>
  					</div>
  					<ul class="drag_list clearfix" data-bind="foreach: ready.tickets">
                        <li class="ticket"><div class="trash">x</div><span data-bind="text: text"/></li>
  					</ul>
  				</li>
  			</ul>
      	</div>
      	<!-- DOING -->
      	<div class="lane doing">
      		<div class="header">
      			<h3>Doing</h3>
      		</div>
            <ul class="task-columns" data-bind="foreach: workstreams">
                <li>
                    <div class="task-header">
                        <h4 data-bind="text: name"></h4>
                    </div>
                    <ul class="drag_list clearfix" data-bind="foreach: doing.tickets">
                        <li class="ticket"><div class="trash">x</div><span data-bind="text: text"/></li>
                    </ul>
                </li>
            </ul>
      	</div>
      	<!-- DONE! -->
      	<div class="lane done">
      		<div class="header">
      			<h3>Done</h3>
      		</div>
            <ul class="task-columns" data-bind="foreach: workstreams">
                <li>
                    <div class="task-header">
                        <h4 data-bind="text: name"></h4>
                    </div>
                    <ul class="drag_list clearfix" data-bind="foreach: doing.tickets">
                        <li class="ticket"><div class="trash">x</div><span data-bind="text: text"/></li>
                    </ul>
                </li>
            </ul>
      	</div>
      </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add a new ticket</h4>
      </div>
      <div class="modal-body">
        <input class="ticket-input" type="text" placeholder="New ticket name"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save" data-dismiss="modal">Add ticket</button>
      </div>
    </div>
  </div>
</div>
  {% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/gravity_board.js' %}"></script>
{% endblock extra_js %}

