{% extends "base.html" %}

  {% block content %}


      <div id="gravity-board">
      	<!-- READY -->
      	<div class="lane ready">
      		<div class="header">
      			<h3>Ready</h3>
      		</div>
  			<ul class="task-columns">
  				<li>
  					<div class="task-header">
  						<h4>Make coffee</h4>
  					</div>
  					<ul class="drag_list clearfix">
  						<li class="ticket">This is my task</li>
  					</ul>
  				</li>
  				<li>
  					<div class="task-header">
  						<h4>Cook breakfast</h4>
  					</div>
  					<ul class="drag_list clearfix">
	  					<li class="ticket">This is my other task</li>
	  					<li class="ticket">This is my other task</li>
	  					<li class="ticket">This is my other task</li>
	  				</ul>
  				</li>
  				<li>
  					<div class="task-header">
  						<h4>Clean house</h4>
  					</div>
  					<ul class="drag_list clearfix">
	  					<li class="ticket">This is my final task</li>
	  				</ul>
  				</li>
  				<li>
  					<div class="task-header">
  						<h4>Watch TV</h4>
  					</div>
  					<ul class="drag_list clearfix">
  					<li class="ticket">This is my final task</li>
  					</ul>
  				</li>
  			</ul>
      	</div>
      	<!-- DOING -->
      	<div class="lane doing">
      		<div class="header">
      			<h3>Doing</h3>
      		</div>
  			<ul class="task-columns">
  				<li>
  					<div class="task-header">
  						<h4>Make coffee</h4>
  					</div>
  					<ul class="drag_list clearfix">
	  					<li class="ticket">This is my task</li>
  					</ul>
  				</li>
  				<li>
  					<div class="task-header">
  						<h4>Cook breakfast</h4>
  					</div>
  					<ul class="drag_list clearfix">
	  					<li class="ticket">This is my other task</li>
	  					<li class="ticket">This is my other task</li>
	  					<li class="ticket">This is my other task</li>
	  				</ul>
  				</li>
  				<li>
  					<div class="task-header">
  						<h4>Clean house</h4>
  					</div>
  					<ul class="drag_list clearfix">
  					<li class="ticket">This is my final task</li>
  					</ul>
  				</li>
  				<li>
  					<div class="task-header">
  						<h4>Watch TV</h4>
  					</div>
  					<ul class="drag_list clearfix">
	  					<li class="ticket">This is my final task</li>
  					</ul>
  				</li>
  			</ul>
      	</div>
      	<!-- DONE! -->
      	<div class="lane done">
      		<div class="header">
      			<h3>Done</h3>
      		</div>
  			<ul class="task-columns">
  				<li>
  					<div class="task-header">
  						<h4>Make coffee</h4>
  					</div>
  					<ul class="drag_list clearfix">
  						<li class="ticket">This is my task</li>
  					</ul>
  				</li>
  				<li>
  					<div class="task-header">
  						<h4>Cook breakfast</h4>
  					</div>
  					<ul class="drag_list clearfix">
	  					<li class="ticket">This is my other task</li>
  						<li class="ticket">This is my other task</li>
  						<li class="ticket">This is my other task</li>
  					</ul>
  				</li>
  				<li>
  					<div class="task-header">
  						<h4>Clean house</h4>
  					</div>
  					<ul class="drag_list clearfix">
  						<li class="ticket">This is my final task</li>
  					</ul>
  				</li>
  				<li>
  					<div class="task-header">
  						<h4>Watch TV</h4>
  					</div>
  					<ul class="drag_list clearfix">
  						<li class="ticket">This is my final task</li>
  					</ul>
  				</li>
  			</ul>
      	</div>
      </div>
  {% endblock content %}