{% extends "base.html" %}

  {% block content %}
        <div class="row">

        <div class="col-md-1">Icon</div>

        <div class="col-md-8">

          <h1>{% block page_title %}Validate{% endblock page_title %} <span>5-15 Minutes</span></h1>
          <h2><span>"Is this a project or a product?"</span> While all projects and products start with an idea, products actually have to be valuable to some identifiable market. If you want to build a product, you owe it to yourselves to find your value proposition.</h2>
          <form role="form venn" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="form-group col-md-4">
                <input type="text" class="form-control" name="offering" id="offering" placeholder="Offering">
              </div>
              <div class="form-group col-md-4">
                <input type="text" class="form-control" name="valueProp" id="valueProp" placeholder="Value proposition">
              </div>
              <div class="form-group col-md-4">
                <input type="text" class="form-control" name="customer" id="customer" placeholder="Customer">
              </div>
            </div>
            <button type="submit" class="btn btn-default">Next</button>
          </form>

          </div>

        <div class="col-md-3">Info bar</div>

      </div>
  {% endblock content %}
