{% extends "base.html" %}

  {% block content %}
        <div class="row">

        <div class="col-md-1 step-icon">
          <div class="validate"></div>
        </div>

        <div class="col-md-8">
          <small>&nbsp;</small>
          <h1>{% block page_title %}Validate{% endblock page_title %} <span>5-15 Minutes</span></h1>
          <h2><span>"Is this a project or a product?"</span> While both start with an idea, a product requires a market to serve.  If you want to build a product, you owe it to yourself to find your value proposition.</h2>
        </div>

        <div class="col-md-3"></div>

      </div>


      <div class="row">

        <div class="col-md-1"></div>

        <div class="col-md-8 venn">
          <form role="form" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="form-group col-md-4">
                <textarea name="offering" id="offering" placeholder="Offering"></textarea>
              </div>
              <div class="form-group col-md-4">
                <textarea name="valueProp" id="valueProp" placeholder="Value prop"></textarea>
              </div>
              <div class="form-group col-md-4">
                <textarea name="customer" id="customer" placeholder="Customer"></textarea>
              </div>
            </div>
            <div class="validate-action clearfix">
              <button type="submit" class="btn btn-default">Next</button>
            </div>
          </form>

        </div>

        <div class="col-md-3">
          <div class="info-panel">
			<h3>5-15 Minutes</h3>
			<p>In the right circle, define your customer.</p>
			<p class="example">"Tech Savvy Entrepreneurs"</p>
			
			<p>In the left circle, define what you intend to offer the customer.</p>
			<p class="example">"Theory and framework that expedites planning and delivery of products"</p> 			 
		    <p>In the intersect, find your value proposition by matching your 
				customers to what you are offering. Value Propositions can be simply worded at first:</p>
            <p class="example">"Our product helps tech savvy entrepreneurs plan and 
				  deliver working products quickly."</p>

          </div>
        </div>

      </div>
	  
  {% endblock content %}
